*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 20%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all ease 0.5s;
    z-index: 2;
}
nav.opened{
    transform: translateX(0%);
}
svg.svg-icon{
    position: absolute;
    top: 5%;
    transform: translateY(50%);
    left: 5%;
    color: gold;
    cursor: pointer;
    z-index: 4;
}
svg.svg-icon.xmark{
    animation: revolution 0.5s ease-in;
}
@keyframes revolution {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
nav > ul{
    list-style-type: none;
}
nav > ul > li{
    margin-block-end: 1.5rem;
    transition: all ease 0.5s;
}
nav > ul > li > div{
    position: relative;
}
nav > ul > li  a{
    color: white;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
    padding-block-end: 0.5rem;
    transition: all ease 0.5s;
}
/* nav > ul > li > a::after{
    content: "";
    height: 2px;
    width: 0%;
    color: gold;
    position: absolute;
    left:0;
    bottom: 0;
    transition: all ease 0.5s;
} */
nav > ul > li  a:hover,a.active{
    color: gold;
}

nav > ul > li  a::after, a.active::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: gold;
    position: absolute;
    left:0;
    bottom: 0;
    transition: all ease 0.5s;
}


nav > ul > li  a:hover::after, a.active::after{
    width: 100%;
}
ul.dropdown{
    list-style: none;
    display: none;
}
ul.dropdown.active{
    display: block;
}
ul.dropdown > li{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
ul.dropdown > li > a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding-block-end: 0.5rem;
    position: relative;    
}
ul.dropdown > li > a:hover{
    color: gold;
}
ul.dropdown > li > a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    left:0;
    bottom: 0;
    transition: all ease 0.5s;
}
ul.dropdown > li > a:hover::after{
    width: 100%;
}
svg.svg-icon2{
    color: gold;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 1024px) {
    nav{
        width: 25%;
    }
    nav > ul > li a {
        color: white;
        font-size: 1.0rem;
      }
      ul.dropdown > li > a {
        font-size: 1.0rem;
      }
}
@media screen and (max-width: 768px){
    nav{
        width: 30%;
    }
    svg.svg-icon{
        position: absolute;
        top: 5%;
        transform: translateY(50%);
        left: 5%;
        color: gold;
        cursor: pointer;
    }
}
@media screen and (max-width: 425px){
    nav{
        width: 100%;
    }
    svg.svg-icon{
        position: absolute;
        top: 5%;
        left: 5%;
        color: gold;
        cursor: pointer;
    }
}